### Python Introduction

<b>What is Python?</b>

Python is a popular programming language. It was created by Guido van Rossum in 1991.

It is used for:

* web development (server-side),
* software development,
* mathematics,
* system scripting.

<b>What can Python do?</b>

* Python can be used on a server to create web applications.
* Python can be used alongside software to create workflows.
* Python can connect to database systems. It can also read and modify files.
* Python can be used to handle big data and perform complex mathematics.
* Python can be used for rapid prototyping, or for production-ready software development.

<b>Why Python?</b>

* Python works on different platforms (Windows, Mac, Linux, Raspberry Pi, etc).
* Python has a simple syntax.
* Python has syntax that allows developers to write programs with fewer lines than some other programming languages.
* Python support object-oriented programming.

### Variable

* Variables are containers for storing data values.
* Variables do not need to be declared with any particular type, and can even change type after they have been set.
* To specify the data type of a variable, this can be done by the casting.
* We can get the data type of a variable with the type() function.

In [1]:
#Creating Variables
x = 4
y = 3
print(x)
print(y)

#do not need to be declared with any particular type.
x = 23
x = "Dhruvi"
print(x)

#Casting
x = int(23)
y = float(4)
z = str(5)
print(x)
print(y)
print(z)

#Get the Type
x = "sally"
y = 4.0
print(type(x))
print(type(y))

#Single or Double Quotes
x = "r"  #double quotes are the same as single quotes:
print(x)
x = 'r'
print(x)

#Case-Sensitive
x = 7
X = "Dhruvi"
print(x)
print(X)

4
3
Dhruvi
23
4.0
5
<class 'str'>
<class 'float'>
r
r
7
Dhruvi

<b>Variable Names</b>

A variable can have a short name(like x and y) or a more descriptive name(age, name, value etc.).

 * A variable name start with a letter or the underscore character.
 * A variable name cannot start with a number.
 * A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ ).

In [2]:
#Legal variable names
x = 3
name = "Dhruvi"
_name = "Dhruvi"
name23 = "Dhruvi"

#Multi Words Variable Names
#camel case
myVariableName = "Dhruvi"  
print(myVariableName)

#Pascal Case
MyVariableName = "Dhruvi"
print(MyVariableName)

#Snake Case
my_variable_name = "Dhruvi"
print(my_variable_name)

Dhruvi
Dhruvi
Dhruvi

<b>Assign multiple values</b>

* If you have a collection of values in a list, tuple etc. Python allows you to extract the values into variables. This is called unpacking.

In [3]:
#Many Values to Multiple Variables
x, y, z = "ram", 6, "Orange" 
print(x)                     
print(y)
print(z)

#One Value to Multiple Variables
x = y = z = "Orange"  
print(x)              
print(y)
print(z)

#Unpack a Collection
name = ["sita", "Kavita", "veda"]
x, y, z = name
print(x)
print(y)
print(z)

ram
6
Orange
Orange
Orange
Orange
sita
Kavita
veda

<b>Output variables</b>

* print() function is often used to output variables.
* In the print() function, you output multiple variables, separated by a comma.
* use the + operator to output multiple variables

In [4]:
#print() function
x = "Sankatmochan"  
print(x)

#output multiple variables, separated by a comma
x = "python"                  
y = "is"
z = "awesome"
print(x, y, z)

# + operator
x = "Arambh"   
z = " prachand"
print(x+y+z)

#+ character works as a mathematical operator
x = 4     
y = 6
print(x+y)

#support different data types
x = 4.3
y = 5
z = "data"
print(x, y, z)

Sankatmochan
python is awesome
Arambhis prachand
10
4.3 5 data

<b>Global variables</b>

* Variables that are created outside of a function are known as global variables.
* Global variables can be used by everyone, both inside of function and outside.
* If you create a variable with the same name inside a function, this variable will be local, and can only be used inside the function. 
* The global variable with the same name will remain as it was, global and with the original value.
* To create a global variable inside a function, you can use the global keyword.

In [5]:
#Create a variable outside of a function
x = " Hanuman"
def myfunc():
    print("Sankatmochan" + x)
myfunc()

#Create a variable inside a function
x = "awesome"
def myfunc():
    x = "fantastic "
    print("Python is " + x)
myfunc()
print("python is " + x)

#The global Keyword
def myfunc(): 
    global x
    x = "awesome"
myfunc()
print("python is "+ x)

#To change the value of a global variable inside a function
x = "awesome" 
def myfunc():
    global x
    x = "fantastic"
myfunc()
print("python is " + x)

Sankatmochan Hanuman
Python is fantastic
python is awesome
python is awesome
python is fantastic

### Data Types

* Variables can store data of different types, and different types can do different things.

In [6]:
#different data types
x = 4
X = 5.0
y = "Hanuman ji"
Y = ['kamala', 'sita', 'shyam']
z = ('kamala', 'sita', 'shyam')
Z = True
a = {'kamala':2, 'sita':8, 'shyam':15}
A = 1j
b = range(6)
B = {'kamala', 'sita', 'shyam'}
c = frozenset(['kamala', 'sita', 'shyam'])
C = b"hello"
d = None
print(type(x))
print(type(X))
print(type(y))
print(type(Y))
print(type(z))
print(type(Z))
print(type(a))
print(type(A))
print(type(b))
print(type(B))
print(type(c))
print(type(C))
print(type(d))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'bool'>
<class 'dict'>
<class 'complex'>
<class 'range'>
<class 'set'>
<class 'frozenset'>
<class 'bytes'>
<class 'NoneType'>

### Numbers

There are three numeric types in Python:

* int
* float
* complex

Variables of numeric types are created when you assign a value to them.
Python does not have a random() function to make a random number, but Python has a built-in module called random that can be used to make random numbers.

In [7]:
## numeric data types
x = 4  
y = 4.7
z = 2j
print(type(x))
print(type(y))
print(type(z))

#Type conversion
x = 4  
y = 4.7
z = 2j

#convert from int to float
a = float(x)

#convert from float to int
b = int(y)

#convert from int to complex
c = complex(x)

print(a)
print(b)
print(c)

#Random Numbers
import random
print(random.randrange(1, 10))

<class 'int'>
<class 'float'>
<class 'complex'>
4.0
4
(4+0j)
1

### Casting

* when you want to specify a type on to a variable. This can be done with casting.

In [8]:
#int()
x =int(7)  
y = int(4.5)
z = int("6")
print(x)
print(y)
print(z)

#floats()
x = float(2)     
y = float(5.6)
z = float("22")
print(x)
print(y)
print(z)

#strings()
x = str(1)     
y = str(3.4)
z = str("ram")
print(x)
print(y)
print(z)

7
4
6
2.0
5.6
22.0
1
3.4
ram

### Strings

* Strings in python are surrounded by either single quotation marks, or double quotation marks.
* strings in Python are arrays of bytes representing unicode characters. 
* Python does not have a character data type, a single character is simply a string with a length of 1. 
* Square brackets can be used to access elements of the string.

In [9]:
#Assign String to a Variable
x = "hello"  
print(x)

#Multiline Strings
x = """Lorem ipsum dolor sit amet,   
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""   
print(x)

#Strings are Arrays
# first character has the position 0
x = "hello world!"  
print(x[6])

#Looping Through a String
for x in "Orange":
    print(x)

#len() function    
x = "hello world!"  
print(len(x)) 

#keyword in
txt = "Boss lady"
print("Boss" in txt)

#with if statement
txt = "Boss lady"
if "Boss" in txt:
    print("Yes, Boss is present in txt.")
    
#not in keyword
txt = "Boss lady"
print("boss"  not in txt)

#with if statement
txt = "Boss lady"
if "boss"  not in txt:
    print("Yes, Boss is not present in txt.")

hello
Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.
w
O
r
a
n
g
e
12
True
Yes, Boss is present in txt.
True
Yes, Boss is not present in txt.

<b>Slicing Strings </b>

* we can return a range of characters by using the slice syntax.
* Specify the start index and the end index, separated by a colon, to return a part of the string.

In [10]:
#position 2 to position 5 (not included)
x = "hello, world!"
print(x[2:5])

#Slice from the Start
x = "hello, world!"
print(x[:5])

#Slice To the End
x = "hello, world!"
print(x[0:])

#Negative Indexing
x = "hello, world!"
print(x[-5:-2])

#Modify Strings

llo
hello
hello, world!
orl

<b>Modify Strings</b>

In [11]:
#upper() methods
a = "hello world"  
print(a.upper())

#lower() methods
b = "HELLO WORLD" 
print(b.lower())

#Remove Whitespace
#The strip() method 
c = " hello world "  
print(c.strip())     

#replace() method 
x = "Hello, World!"   
print(x.replace("Hello", "World"))

#split() method
y = "hello, world"   
print(y.split(","))

HELLO WORLD
hello world
hello world
World, World!
['hello', ' world']

<b>String Concatenation</b>

* To concatenate, or combine, two strings you can use the + operator

In [12]:
#concatenation
a = "hello " 
b = "36"
c = a+b
print(c)

#To add a space between them, add a " "
a = "Hello"
b = "World"
c = a + " " + b
print(c)

hello 36
Hello World

<b>Format-string<b/>

In [13]:
#format() method
x = 36   
y = "My name is peace and I am {}"
print(y.format(x))

#format() method with placeholder {}
x = 95
y = 4
txt = "I want {} percent in {} standerd."
print(txt.format(x, y))

#with index number
name = 6
age = 100
info = "my name is {0} and i am {1}"
print(info.format(name, age))

My name is peace and I am 36
I want 95 percent in 4 standerd.
my name is 6 and i am 100

<b>Escape Characters</b>

In [14]:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

### Booleans

* Booleans represent one of two values: True or False.

In [15]:
#boolean expression
print(4>3)
print(6>10)
print(8==4)
print(5<6)

#based on whether the condition is True or False
x = 100
y = 200
if x<y:
    print("x is less than y")
else:
    print("x is greater than y")
    
#Evaluate Values and Variables
#bool() function
print(bool(0))
print(bool("hello"))

#Most Values are True
#if it has some sort of content.
#Any string is True, except empty strings.
#Any number is True, except 0.
#list,tuple,set, and dictionary are True, except empty ones
bool("abc")
bool(123)
bool(["apple", "cherry", "banana"])

#Some Values are False
bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})

#__len__ function with return 0 gives false
class myclass():       
 def __len__(self):
    return 0

myobj = myclass()
print(bool(myobj)) 

#Functions can Return a Boolean
def myfnc():
    return True
print(myfnc())

def myclss():
    return True

if myclss():
    print("Yes")
    
else:
    print("No")
    
#isinstance() function    
x = 200   
print(isinstance(x, int))

True
False
False
True
x is less than y
False
True
False
True
Yes
True

### List

* Lists are used to store multiple items in a single variable.
* Lists are created using square brackets.
* List items are ordered, changeable, and allow duplicate values.
* List items are indexed, the first item has index [0], the second item has index [1]
*

In [16]:
#Create a List
mylist = ['apple', 'banana', 'orange']
print(mylist)

#allow duplicate values
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)

#len() function
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

#List items can be of any data type
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]

#A list can contain different data types
list1 = ["abc", 34, True, 40, "male"]

#type() function
mylist = ["apple", "banana", "cherry"]
print(type(mylist))

#The list() Constructor
thislist = list(("apple", "banana", "cherry"))
print(thislist)

['apple', 'banana', 'orange']
['apple', 'banana', 'cherry', 'apple', 'cherry']
3
<class 'list'>
['apple', 'banana', 'cherry']

<b>Access List Items</b>

* List items are indexed and you can access them by referring to the index number

In [17]:
#Access Items
x = ['data', 'bata', 'creata', 'krma','bata']
print(x[1])

#Negative Indexing
y = ['data', 'bata', 'creata', 'krma','bata']
print(y[-1])

#Range of Indexes
z = ['data', 'bata', 'creata', 'krma'] 
print(z[2:3])

#Range of Negative Indexes
a = ['data', 'bata', 'creata', 'krma','bata']
print(a[-3:-1])

#Check if Item Exists
mylist = ['data', 'bata', 'creata', 'krma','bata']
if "krma" in mylist:      
    print("Yes, karma is in mylist")

bata
bata
['creata']
['creata', 'krma']
Yes, karma is in mylist

<b>Change List Items</b>

* To change the value of a specific item, refer to the index number

In [18]:
#Change the second item
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

#Change a Range of Item Values
thislist = ["apple", "banana", "cherry", "orange"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

#insert() function
x = ['data', 'bata', 'creata',] 
x.insert(2, "goodluck")
print(x)

['apple', 'blackcurrant', 'cherry']
['apple', 'blackcurrant', 'watermelon', 'orange']
['data', 'bata', 'goodluck', 'creata']

<b>Add List Items</b>

In [19]:
#append() function
x = ['data', 'bata', 'creata',] 
x.append("goodluck")
print(x)

#insert() function
x = ['data', 'bata', 'creata',] 
x.insert(1, "goodluck")
print(x)

#extend() function
x = ['data', 'bata', 'creata',] 
y = ["apple", "banana", "cherry"]
x.extend(y)
print(x)

#Add Any Iterable
list = ['data', 'bata', 'creata',] 
tuple = ("apple", "banana", "cherry")
list.extend(tuple)
print(x)

['data', 'bata', 'creata', 'goodluck']
['data', 'goodluck', 'bata', 'creata']
['data', 'bata', 'creata', 'apple', 'banana', 'cherry']
['data', 'bata', 'creata', 'apple', 'banana', 'cherry']

 <b>Remove list items</b>

In [20]:
#remove() method
mylist = ['apple', 'banana', 'orange', 'kiwi']
mylist.remove('apple') 
print(mylist)

#pop() method
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
thislist.pop()
print(thislist)

#del keyword
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

#Delete the entire list
thislist = ["apple", "banana", "cherry"]
del thislist

#clear() method
x = ['apple', 'banana', 'orange', 'kiwi']
x.clear()   
print(x)

['banana', 'orange', 'kiwi']
['apple']
['banana', 'cherry']
[]

<b>Loop lists</b>

In [21]:
#Loop Through a List by using a for loop
mylist = ['apple', 'banana', 'orange', 'kiwi']
for x in mylist:    
    print(mylist)
    break
 
 #Loop Through the Index Numbers
mylist = ['apple', 'banana', 'orange']    
for x in range(len(mylist)):
    print(mylist[x])

# Using a While Loop
mylist = ['apple', 'banana', 'orange']
i = 0
while i < len(mylist):
    print(mylist[i])
    i = i+1
    
#Looping Using List Comprehension 
thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist]

['apple', 'banana', 'orange', 'kiwi']
apple
banana
orange
apple
banana
orange
apple
banana
cherry

[None, None, None]

<b>List Comprehension</b>

* List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.
* The syntax :
* newlist = [expression for item in iterable if condition == True]

In [54]:
#without list comprehension
mylist = ['apple', 'banana', 'orange', 'kiwi']
newlist = []
for x in mylist:
    if "n" in x:
        newlist.append(x)
print(newlist)          

#With list comprehension 
mylist = ['apple', 'banana', 'orange', 'kiwi']
newlist = [x for x in mylist if "a" in x]
print(newlist)

#condition
mylist = ['apple', 'banana', 'orange', 'kiwi']
newlist = [x for x in mylist if x != "apple"]
print(newlist)

#iterable
mylist = ['apple', 'banana', 'orange', 'kiwi']
newlist = [x for x in range(10)]
newlist = [x for x in range(10) if x<5]
print(newlist)

#Expression
newlist = [x.upper() for x in mylist]
newlist = ["hello" for x in mylist]
newlist = [x if x != "banana" else "orange" for x in mylist]
print(newlist)

['banana', 'orange']
['apple', 'banana', 'orange']
['banana', 'orange', 'kiwi']
[0, 1, 2, 3, 4]
['apple', 'orange', 'orange', 'kiwi']

<b>Sort List</b>

* List objects have a sort() method that will sort the list alphanumerically, ascending, by default.

In [53]:
#Sort the list alphabetically
x = ['apple', 'banana', 'orange', 'kiwi']
x.sort()
print(x)

#Sort the list numerically
x = [32, 44, 400, 24, -2]
x.sort()
print(x)

#Sort descending
#reverse = True
x = ['apple', 'banana', 'orange', 'kiwi']
x.sort(reverse = True)   
print(x)

x = [32, 44, 400, 24, -2]
x.sort(reverse = True)
print(x)

#Customize Sort Function
#key = function
def myfunc(n):
  return abs(n - 50)

thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
print(thislist)

#Case Insensitive Sort
#sort() function
x = ['apple', 'Banana', 'orange', 'kiwi']
x.sort(key = str.lower)  #str.lower as a key function
print(x)

#Reverse Order
#reverse() method
x = ['apple', 'Banana', 'orange', 'kiwi']
x.reverse()  
print(x)

['apple', 'banana', 'kiwi', 'orange']
[-2, 24, 32, 44, 400]
['orange', 'kiwi', 'banana', 'apple']
[400, 44, 32, 24, -2]
[50, 65, 23, 82, 100]
['apple', 'Banana', 'kiwi', 'orange']
['kiwi', 'orange', 'Banana', 'apple']

<b>Copy lists</b>

In [52]:
#copy() method
mylist = ['apple', 'Banana', 'orange', 'kiwi']
newlist = mylist.copy()
print(newlist)

#built-in method list()
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

['apple', 'Banana', 'orange', 'kiwi']

TypeError: 'list' object is not callable

<b>Join lists</b>

In [51]:
#Join Two Lists
list1 = ['apple', 'Banana', 'orange', 'kiwi']
list2 = [1, 3, 45, 6, 80]
list3 = list1+list2
print(list3)

#Another way to join two lists 
list1 = ['apple', 'Banana', 'orange', 'kiwi']
list2 = [1, 3, 45, 6, 80]
for x in list2:
    list1.append(x)
print(list1)  

#With extend() methods
list1 = ['apple', 'Banana', 'orange', 'kiwi']
list2 = [1, 3, 45, 6, 80]
list1.extend(list2)
print(list1)

['apple', 'Banana', 'orange', 'kiwi', 1, 3, 45, 6, 80]
['apple', 'Banana', 'orange', 'kiwi', 1, 3, 45, 6, 80]
['apple', 'Banana', 'orange', 'kiwi', 1, 3, 45, 6, 80]

### Tuple

* Tuples are used to store multiple items in a single variable.

* Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.

* A tuple is a collection which is ordered, unchangeable and allow duplicate values.

* Tuples are written with round brackets.
* Tuple items are indexed, the first item has index [0], the second item has index [1]

In [50]:
#Create a tuple
thistuple = ('apple', 'Banana', 'orange', 'kiwi')
print(thistuple)

#Allow Duplicates
thistuple = ('apple', 'Banana', 'orange', 'kiwi', 'orange')
print(thistuple)

#Tuple length
thistuple = ('apple', 'Banana', 'orange', 'kiwi', 'orange')
print(len(thistuple))

#Create Tuple With One Item
thistuple = ('apple',)
print(type(thistuple))

#Tuple Items - Data Types
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)

#A tuple can contain different data types
tuple1 = ("abc", 34, True, 40, "male")
print(tuple1)

#type() function
mytuple = ("apple", "banana", "cherry")
print(type(mytuple))

#The tuple() Constructor
thistuple = tuple(("apple", "banana", "cherry"))
print(thistuple)

('apple', 'Banana', 'orange', 'kiwi')
('apple', 'Banana', 'orange', 'kiwi', 'orange')
5
<class 'tuple'>
('abc', 34, True, 40, 'male')
<class 'tuple'>

TypeError: 'tuple' object is not callable

<b>Access tuple items</b>

* You can access tuple items by referring to the index number, inside square brackets.

In [49]:
#Access items
tuple1 = ("apple", "banana", "cherry")
print(tuple[1])

#Negative Indexing
tuple1 = ("apple", "banana", "cherry")
print(tuple[-3])

#Range of Indexes
tuple1 = ("apple", "banana", "cherry")
print(tuple[1:3])

#Range of Negative Indexes
tuple1 = ("apple", "banana", "cherry", "kiwi")
print(tuple[-3:-1])

#Check if Item Exists
tuple1 = ("apple", "banana", "cherry", "kiwi")
if "banana" in tuple1:
    print("yes, banana in tuple1")

banana
apple
('banana', 'cherry')
('apple', 'banana')
yes, banana in tuple1

<b>Update Tuple<b/>

* Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable as it also is called.

* But there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a tuple.

In [48]:
#Change Tuple Values
x = ("apple", "banana", "cherry")
y = list(x)
y[2] = "orange"
x = tuple(y)
print(x)

#Add Items
x = ("apple", "banana", "cherry")
y = list(x)
y.append("orange")
x = tuple(y)
print(x)

#Add tuple to a tuple 
x = ("apple", "banana", "cherry")
y = ("orange", "kiwi")
x += y
print(x)

#Remove Items
x = ("apple", "banana", "cherry")
y = list(x)
y.remove("banana")
x = tuple(y)
print(x)

TypeError: 'list' object is not callable

<b>Unpack Tuples</b>

* When we create a tuple, we normally assign values to it. This is called "packing" a tuple but in Python, we are also allowed to extract the values back into variables. This is called "unpacking"

In [46]:
#Packing a tuple
x = ("apple", "banana", "cherry")

#Unpacking a tuple
x = ("apple", "banana", "cherry")
(red, white, green) = x
print(red)
print(white)
print(green)

#Using Asterisk*
x = ("apple", "banana", "cherry")
(red, *white) = x
print(red)
print(white)

x = ("apple", "banana", "cherry", "orange")
(red, *white, green) = x
print(red)
print(white)
print(green)

apple
banana
cherry
apple
['banana', 'cherry']
apple
['banana', 'cherry']
orange

<b>Loop Tuples</b>

In [45]:
#Loop Through a Tuple
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

#Loop Through the Index Numbers
thistuple = ("apple", "banana", "cherry")
for x in range(len(thistuple)):
  print(thistuple[x])

#Using a While Loop
thistuple = ("apple", "banana", "cherry")
i = 0
while i<len(thistuple):
    print(thistuple[i])
    i = i+1

apple
banana
cherry
apple
banana
cherry
apple
banana
cherry

<b>Join Tuples</b>

In [44]:
#Join Tuples   
x = ("apple", "banana", "cherry")
y = (1, 2, 3)
z = x+y
print(z)

#Multiply Tuples
x = ("apple", "banana", "cherry")
y = x*4
print(y)

('apple', 'banana', 'cherry', 1, 2, 3)
('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

### Sets

* Sets are used to store multiple items in a single variable.
* A set is a collection which is unordered, unchangeable*, and unindexed and do not allow duplicate values.
* Set items are unchangeable, but you can remove items and add new items.
* Sets are written with curly brackets.
* Sets are unordered, so you cannot be sure in which order the items will appear.

In [43]:
#create a set
myset = {"apple", "banana", "kiwi", "papaya"}
print(myset)

#Duplicates Not Allowed
myset = {"apple", "banana", "kiwi", "papaya", "kiwi"}
print(myset)

#The Length of a Set
myset = {"apple", "banana", "kiwi", "papaya"}
print(len(myset))

#Set Items - Data Types
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}
set4 = {"abc", 34, True, 40, "male"}

#type()
myset = {"apple", "banana", "kiwi", "papaya"}
print(type(myset))

#The set() Constructor
myset = set(("apple", "banana", "kiwi", "papaya"))
print(myset)

{'papaya', 'apple', 'banana', 'kiwi'}
{'papaya', 'apple', 'banana', 'kiwi'}
4
<class 'set'>
{'papaya', 'apple', 'banana', 'kiwi'}

<b>Access Set Items</b>

* You cannot access items in a set by referring to an index or a key.

* But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.

In [42]:
#Access Items
myset = {"apple", "banana", "kiwi", "papaya"}
for x in myset:
    print(x)

myset = {"apple", "banana", "kiwi", "papaya"}
print("apple" in myset)

papaya
apple
banana
kiwi
True

 <b>Add Set Items</b>

* Once a set is created, you cannot change its items, but you can add new items.

In [41]:
#add() method
myset = {"apple", "banana", "kiwi", "papaya"}
myset.add("orange")
print(myset)

#update() method
myset = {"apple", "banana", "kiwi", "papaya"}
myset1 = {2, 4, 7, 57, 87, 9}
myset.update(myset1)
print(myset)

#Add Any Iterable
myset = {"apple", "banana", "kiwi", "papaya"}
myset1 = [2, 4, 7, 57, 87, 9]
myset.update(myset1)
print(myset)

{'papaya', 'kiwi', 'orange', 'apple', 'banana'}
{2, 4, 'papaya', 'kiwi', 7, 9, 87, 57, 'apple', 'banana'}
{2, 4, 'papaya', 'kiwi', 7, 9, 87, 57, 'apple', 'banana'}

 <b>Remove Set Items</b>

* To remove an item in a set, use the remove(), or the discard() method.
* If the item to remove does not exist, remove() will raise an error.
* If the item to remove does not exist, discard() will NOT raise an error.

In [40]:
#discard() method
myset = {"apple", "banana", "kiwi", "papaya"}
myset.discard("kiwi")
print(myset)

#remove() method
myset = {"apple", "banana", "kiwi", "papaya"}
myset.remove("kiwi")
print(myset)

#pop() method will remove the last item
myset = {"apple", "papaya", "kiwi", "banana" }
x = myset.pop()
print(x)
print(myset)

#clear() method
myset = {"apple", "banana", "kiwi", "papaya"}
myset.clear()
print(myset)

{'papaya', 'apple', 'banana'}
{'papaya', 'apple', 'banana'}
kiwi
{'apple', 'banana', 'papaya'}
set()

<b>Loop Sets</b>

* You can loop through the set items by using a for loop

In [39]:
# loop through the set items by using a for loop
myset = {"apple", "banana", "kiwi", "papaya"}
for x in myset: 
 print(x)

papaya
apple
banana
kiwi

<b>Join Sets</b>

In [38]:
#union() method
myset = {"apple", "banana", "kiwi", "papaya"}
myset1 = [2, 4, 7, 57, 7, 9]
myset2 = myset.union(myset1)
print(myset2)

#update() method
myset = {"apple", "banana", "kiwi", "papaya"}
myset1 = [2, 4, 7, 57, 7, 9]
myset.update(myset1)
print(myset)

#Keep only the Duplicates
#intersection_update() method
myset = {"apple", "banana", "kiwi", "papaya"}
myset1 = [2, "kiwi", 7, 57, "banana", 9]
myset.intersection_update(myset1)
print(myset)

#intersection() method
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.intersection(y)
print(z)

#Keep All, But NOT the Duplicates
#symmetric_difference_update() method
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.symmetric_difference_update(y)
print(x)

#symmetric_difference() method
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.symmetric_difference(y)
print(z)

{2, 4, 'papaya', 'kiwi', 7, 9, 57, 'apple', 'banana'}
{2, 4, 'papaya', 'kiwi', 7, 9, 57, 'apple', 'banana'}
{'banana', 'kiwi'}
{'apple'}
{'google', 'microsoft', 'cherry', 'banana'}
{'google', 'microsoft', 'cherry', 'banana'}

### Dictionaries

* Dictionaries are used to store data values in key:value pairs.
* A dictionary is a collection which is ordered*, changeable and do not allow duplicates.
* Dictionaries are written with curly brackets, and have keys and values

In [37]:
#Create and print a dictionary
x ={"name":"kamal", "age":45, "sex":"male"} 
print(x)

#Dictionary Items
x ={"name":"kamal", "age":45, "sex":"male"} 
print(x["name"])

#Duplicates Not Allowed
x ={"name":"kamal", "age":45, "age":45, "sex":"male"} 
print(x)

#Dictionary Length
x ={"name":"kamal", "age":45, "sex":"male"} 
print(len(x))

#Dictionary Items - Data Types
x = {"brand": "Ford", "electric": False, "year": 1964, 
     "colors": ["red", "white", "blue"]}

#type()
x ={"name":"kamal", "age":45, "sex":"male"} 
print(type(x))

{'name': 'kamal', 'age': 45, 'sex': 'male'}
kamal
{'name': 'kamal', 'age': 45, 'sex': 'male'}
3
<class 'dict'>

<b>Access Dictionary Items</b>

* You can access the items of a dictionary by referring to its key name, inside square brackets

In [36]:
#Accessing Items
x ={"name":"kamal", "age":45, "age":45, "sex":"male"} 
y = x["age"]
print(y)

#get() method
x ={"name":"kamal", "age":45, "age":45, "sex":"male"} 
y = x.get("sex")
print(y)

#keys() method
x ={"name":"kamal", "age":45, "age":45, "sex":"male"} 
y = x.keys()
print(y)

#values() method 
x ={"name":"kamal", "age":45, "age":45, "sex":"male"} 
y = x.values()
print(y)

#items() method 
x ={"name":"kamal", "age":45, "age":45, "sex":"male"} 
y = x.items()
##before the change
print(x)
x["color"] = "white"
#after the change
print(x)

#Check if Key Exists
x ={"name":"kamal", "age":45, "age":45, "sex":"male"} 
if "name" in x:
 print("yes, name is present in the x")

45
male
dict_keys(['name', 'age', 'sex'])
dict_values(['kamal', 45, 'male'])
{'name': 'kamal', 'age': 45, 'sex': 'male'}
{'name': 'kamal', 'age': 45, 'sex': 'male', 'color': 'white'}
yes, name is present in the x

<b>Change Dictionary Items</b>

In [35]:
#Change Values
x ={"name":"kamal", "age":45, "age":45, "sex":"male"}
x["age"] = 23
print(x)

#Update Dictionary
x ={"name":"kamal", "age":45, "sex":"male"}
x.update({"name":"sita"})
print(x)

{'name': 'kamal', 'age': 23, 'sex': 'male'}
{'name': 'sita', 'age': 45, 'sex': 'male'}

<b>Add dictionary items</b>

In [34]:
#Adding Items
x ={"name":"kamal", "age":45, "sex":"male"}
x["height"] = 5
print(x)

#Update Dictionary
x ={"name":"kamal", "age":45, "sex":"male"}
x.update({"height":5})
print(x)

{'name': 'kamal', 'age': 45, 'sex': 'male', 'height': 5}
{'name': 'kamal', 'age': 45, 'sex': 'male', 'height': 5}

<b>Remove dictionary items</b>

In [33]:
#pop() method
x ={"name":"kamal", "age":45, "sex":"male"}
x.pop("sex")
print(x)

#popitem() method
x ={"name":"kamal", "age":45, "sex":"male"}
x.popitem()
print(x)

# clear() method
x ={"name":"kamal", "age":45, "sex":"male"}
x.clear()
print(x)

{'name': 'kamal', 'age': 45}
{'name': 'kamal', 'age': 45}
{}

<b>Loop Dictionaries</b>

In [32]:
x ={"name":"kamal", "age":45, "sex":"male"}
for y in x:
 print(y)

#for values
dict1 ={"name":"kamal", "age":45, "sex":"male"}
for x in dict1:
 print(dict1[x])

#values() method
dict1 ={"name":"kamal", "age":45, "sex":"male"}
for x in dict1.values():
 print(x)

#keys() method
dict1 ={"name":"kamal", "age":45, "sex":"male"}
for x in dict1.keys():
 print(x)

#items() method
dict1 ={"name":"kamal", "age":45, "sex":"male"}
for x in dict1.items():
 print(x)

name
age
sex
kamal
45
male
kamal
45
male
name
age
sex
('name', 'kamal')
('age', 45)
('sex', 'male')

<b>Copy Dictionaries</b>

In [31]:
#copy() method
dict1 ={"name":"kamal", "age":45, "sex":"male"}
dict2 = dict1.copy()
print(dict2)

#dict() function
dict1 ={"name":"kamal", "age":45, "sex":"male"}
dict2 = dict(dict1)
print(dict2)

{'name': 'kamal', 'age': 45, 'sex': 'male'}
{'name': 'kamal', 'age': 45, 'sex': 'male'}

<b>Nested Dictionaries</b>

In [30]:
#Create a dictionary that contain three dictionaries
myfamily = {"child1" : {"name" : "Emil","year" : 2004  },
            "child2" : {"name" : "Tobias","year" : 2007},
            "child3" : {"name" : "Linus","year" : 2011 }}
print(myfamily)

#add three dictionaries into a new dictionary
child1 = {"name" : "Emil","year" : 2004  }
child2 = {"name" : "Tobias","year" : 2007}
child3 = {"name" : "Linus","year" : 2011 }  
myfamily = {"child1": child1, "child2": child2, 
            "child3":child3}    
print(myfamily)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}
{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

### If ... Else

<b>Python Conditions and If statements</b>

Python support the usual logical conditions from mathematics:
* Equals: a == b
* Not Equals: a != b
* Less than: a < b
* Less than or equal to: a <= b
* Greater than: a > b
* Greater than or equal to: a >= b

In [29]:
#if statement
x = 20
y = 3
if x>y:
    print("Yes, x is greater than y")

#Elif keyword
#if the previous conditions were not true, then try this condition
x = 3
y = 20
if x>y:
    print("Yes, x is greater than y")
elif x<y:
    print("x is less than y")
    
#Else keyword 
#catches anything which isn't caught by the preceding conditions.
x = 3
y = 20
if x>y:
    print("Yes, x is greater than y")
elif x==y:
    print("x is equals to y")
else:
    print("x is less than y")
    
#Short Hand If
#for one statement to execute
x = 3
y = 20
if x<y: print("Yes, x is less than y")
    
#Short Hand If ... Else
#Ternary Operators, or Conditional Expressions.
#one statement to execute, one for if, and one for else, 
#you can put it all on the same line
x = 3 
y = 20
print("Yes, x is greater than y") if x>y else print("Not true")

#multiple else statements on the same line
a = 330
b = 330
print("A") if a > b else print("=") if a == b else print("B")

#and keyword
x = 45
y = 6
z = 34
if x>z and y<x:
    print("Both conditions is True")

#or keyword
x = 45
y = 6
z = 34
if x>z or y>x:
    print("At least one of the conditions is True")

#Nested If
x = 45
if x>23:
    print("above tventy three")
    if x>35:
        print("above thirty three")
    else:
        ("All above statements are wrong")
        
#The pass Statement
#pass statement is use for avoid getting an error.
x = 5
y = 3
if x>y:
    pass

Yes, x is greater than y
x is less than y
x is less than y
Yes, x is less than y
Not true
=
Both conditions is True
At least one of the conditions is True
above tventy three
above thirty three

### While Loops

Python has two primitive loop commands:

* while loops
* for loops

With the while loop we can execute a set of statements as long as a condition is true.

With the break statement we can stop the loop even if the while condition is true.

With the continue statement we can stop the current iteration, and continue with the next.

With the else statement we can run a block of code once when the condition no longer is true.

In [28]:
#while loop
i = 5
while i<10:
    print(i)
    i = i+1

#break statement
i = 1
while i<6:
    print(i)
    if i==4:
        break
    i += 1 

#The continue Statement
i = 1
while i<6:
    i += 1
    if i == 4:
        continue
    print(i)  
    
#The else Statement
i = 1
while i<5:
    print(i)
    i += 1
else:
    print("i is no longer less than 6")

5
6
7
8
9
1
2
3
4
2
3
5
6
1
2
3
4
i is no longer less than 6

### For Loops

In [27]:
myset = {"apple", "banana", "kiwi", "papaya"}
for x in myset:
 print(x)

#Looping Through a String
myset = "banana"
for x in "banana":
 print(x)

#The break Statement
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

#The continue Statement
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    if x == "banana":
        continue
    print(x)
    
#The range() Function
fruits = ["apple", "banana", "cherry"]
for x in range(3):   
    print(x)
    
fruits = ["apple", "banana", "cherry"]
for x in range(0,2):   
    print(x)  
    
for x in range(2, 30, 3):   
    print(x)
    
#Else in For Loop
for x in range(6):
    print(x)
else:
    ("Finally finished")
    
#If the loop breaks, the else block is not executed.
for x in range(6):
    if x==4:
        break
    print(x)
else:
    ("Finally finished") 
    
# Nested Loops
#A nested loop is a loop inside a loop.
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]
for x in adj:
    for y in fruits:
        print(x, y)
        
#The pass Statement 
#pass statement for avoid getting an error.
for x in [0, 1, 2]:
    pass

papaya
apple
banana
kiwi
b
a
n
a
n
a
apple
banana
apple
cherry
0
1
2
0
1
2
5
8
11
14
17
20
23
26
29
0
1
2
3
4
5
0
1
2
3
red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

### Functions

* A function is a block of code which only runs when it is called.
* You can pass data, known as parameters, into a function.
* A function can return data as a result.
* function is defined using the def keyword.
* To call a function, use the function name followed by parenthesis.
* Information can be passed into functions as arguments.
* Arguments are specified after the function name, inside the parentheses. You can add as many arguments as you want, just separate them with a comma.
* A parameter is the variable listed inside the parentheses in the function definition.
* An argument is the value that is sent to the function when it is called.
* Recursion: Recursion is a common mathematical and programming concept. It means that a function calls itself. This has the benefit of meaning that you can loop through data to reach a result.

In [26]:
#Creating a Function
def my_func():
  print("creating a function")  

#Calling a Function
def my_func():
    print("calling a function")
my_func()

#Arguments
def my_func(fname):
    print(fname+"refsnes")
    
my_func("Email")
my_func("phone")
my_func("sername")

#Number of Arguments
def my_func(fname, lname):
    print(fname + " " + lname)
my_func("email", "bandanavishwa@gmail.com") 

#Arbitrary Arguments, *args
def my_func(*kids):
    print("the younger child is " + kids[2])
my_func("sita", "ram", "karma", "kalyan")    

#Keyword Arguments
def my_func(kid1, kid2, kid3, kid4):
    print("the younger kid is " + kid2)
my_func(kid1="sita", kid2="keshaw", kid3="karma", 
        kid4="kalyan") 

#Arbitrary Keyword Arguments, **kwargs
def my_func(**kids):
    print("his last name is " + kids["lname"])
my_func(fname="sita", lname="ram")

#Default Parameter Value
def my_func(country = "India"):
    print("i am from" + country)
my_func("USA")
my_func("Brazil")
my_func("South africa")
my_func()

#Passing a List as an Argument
def my_func(fruits):
    for x in fruits:
        print(x)
fruits = ["apple", "banana", "cherry"]
my_func(fruits)

#Return Values
def my_func(x):
    return 5*x
print(my_func(3))
print(my_func(5))
print(my_func(9))

#The pass Statement
def my_func():
    pass

#Recursion
def tri_recursion(k):
    if (k>0):
        result = k + tri_recursion(k-1)
        print(result)
    else:
        result = 0
    return result

print("recursion example")
tri_recursion(6)

calling a function
Emailrefsnes
phonerefsnes
sernamerefsnes
email bandanavishwa@gmail.com
the younger child is karma
the younger kid is keshaw
his last name is ram
i am fromUSA
i am fromBrazil
i am fromSouth africa
i am fromIndia
apple
banana
cherry
15
25
45
recursion example
1
3
6
10
15
21

21

### Lambda

* A lambda function is a small anonymous function.

* A lambda function can take any number of arguments, but can only have one expression.

* lambda arguments : expression

In [25]:
x = lambda a : a + 10
print(x(5))

#Lambda functions can take any number of arguments.
x = lambda a, b : a * b
print(x(4, 5))

x = lambda a, b, c : a * b * c
print(x(4, 5, 7))

#Why Use Lambda Functions?
#The power of lambda is better shown when you use them as an anonymous function inside another function.
def myfunc(n):
    return lambda a : a * n
mydoubler = myfunc(2)
print(mydoubler(10))

def myfunc(n):
    return lambda a : a * n

mydoubler = myfunc(2)
mytripler = myfunc(3)

print(mydoubler(11))
print(mytripler(11))

15
20
140
20
22
33